# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
poetry.lock

# Unit test / coverage reports
.pytest_cache/
.mypy_cache/

# Environments
.venv

# Visual Studio Code
.vscode/

# Project
out/
